/*Global settings*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    min-width: 1024px;
    max-width: 1440px;
    margin: auto;
    font-family: $main-font;
}

main {
    min-height: 690px;
}

.error-msg {
    font-size: 1.5em;
    color: red;
    margin: 50px;
}